.adCard {
    width: 27.77vw;
    height: 30.14vw;
    background-image: url('/images/Ads@2x.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adCard .adCard-title {
    width: 12.85vw;
    height: auto;
    margin-top: 1.67vw;
    font-family: 'Lobster', cursive;
    font-size: 1.67vw;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 0em;
    text-align: center;
}

.adCard .adCard-website {
    font-family: 'Inter', sans-serif;
    font-size: 0.97vw;
    font-weight: 500;
    color: rgb(255, 255, 255, 0.6);
    margin-top: 19.79vw;

}

/* Mobile Responsive Styles (max-width: 767px) */
@media (max-width: 767px) {
.adCard {
        width: 74.67vw;
        height: 85.33vw;
    }
.adCard .adCard-title {
        width: 53.33vw;
        margin-top: 5.33vw;
        font-size: 4.8vw;
        line-height: 6.4vw;
    }
.adCard .adCard-website {
        font-size: 3.73vw;
        margin-top: 58.67vw;
    }
}

/* Tablet Responsive Styles (768px-1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
.adCard {
        width: 40vw;
        height: 36.46vw;
    }
.adCard .adCard-title {
        width: 23.44vw;
        margin-top: 2.34vw;
        font-size: 2.08vw;
        line-height: 2.86vw;
    }
.adCard .adCard-website {
        font-size: 1.69vw;
        margin-top: 23.44vw;
    }
}
