.card1 {
    width: 100%;
    max-width: 20.13vw;
    height: 100%;
    max-height: 21.94vw;
    cursor: pointer;
}

.card1:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-radius: 1.39vw;
}

.card1 .card1-image-div {
    width: 100%;
    height: 12.5vw;
    overflow: hidden;
    position: relative;
    border-radius: 1.39vw;
}

.card1 .card1-image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card1 .card1-image-div .card1-like-outer {
    position: absolute;
    top: 1.11vw;
    right: 1.11vw;
    width: 3.33vw;
    height: 3.33vw;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.card1 .card1-image-div .card1-like-outer .card1-like-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.67vw;
    height: 1.67vw;
    cursor: pointer;
}

.card1 .card1-title {
    width: 100%;
    height: 3.61vw;
    margin-top: 1.11vw;
    font-family: 'Inter', sans-serif;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 1.81vw;
    letter-spacing: -0.04em;
    color: #000000;
}

.card1 .card1-bottomContainer {
    margin-top: 1.67vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.97vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.card1 .card1-bottomContainer img {
    width: 1.67vw;
    height: 1.67vw;
    margin-right: 0.69vw;
}

.card1 .card1-bottomContainer .card1-minutesContainer {
    margin-right: 1.67vw;
}