.detail-card {
    width: 100%;
    max-width: 88.89vw;
    aspect-ratio: 1280/1003;
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0 2.78vw;
    grid-template-areas:
        "left-row1 right-row1"
        "left-row2 right-row1"
        "left-row3 right-row2"
        "left-row4 left-row4";
    align-content: center;
}

.detail-card .detail-card-left-r1 {
    grid-area: left-row1;
    font-size: 4.44vw;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: rgb(0, 0, 0);
    margin-bottom: 3.33vw;
}

.detail-card .detail-card-left-r2 {
    grid-area: left-row2;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    margin-bottom: 4.44vw;
}

.detail-card .detail-card-left-r2 .detail-card-left-r2-1 {
    display: grid;
    grid-template-columns: 3.47vw 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "image author"
        "image date";
    gap: 1.11vw;
    padding: 0 2.22vw;
    align-items: center;
    justify-items: center;
}

.detail-card .detail-card-left-r2 .detail-card-left-r2-1 img {
    grid-area: image;
    width: 3.47vw;
    height: 3.47vw;
    border-radius: 50%;
    object-fit: cover;
}

.detail-card .detail-card-left-r2 .detail-card-left-r2-1 .author-name {
    grid-area: author;
    font-size: 1.11vw;
    font-weight: 700;
    color: rgb(0, 0, 0);
    letter-spacing: -0.02em;
    align-self: center;
}

.detail-card .detail-card-left-r2 .detail-card-left-r2-1 .date-posted {
    grid-area: date;
    font-size: 0.97vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: -0.02em;
    align-self: center;
}

.detail-card .detail-card-left-r2 .detail-card-left-r2-2,
.detail-card-left-r2-3 {
    height: 2.78vw;
    color: rgba(0, 0, 0, 0.6);
    border: none;
    font-size: 0.97vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 2.22vw;
    gap: 1.11vw;
}

.detail-card-left-r2 img, .detail-card-right-r1 img {
    width: 1.67vw;
    height: 1.67vw;
}

.detail-card .detail-card-left-r3 {
    grid-area: left-row3;
    width: 100%;
    height: 41.67vw;
}

.detail-card .detail-card-left-r3 img {
    width: 100%;
    height: 100%;
    border-radius: 2.08vw;
    object-fit: cover;
}

.detail-card .detail-card-left-r4 {
    grid-area: left-row4;
    width: 100%;
    height: auto;
    font-size: 1.11vw;
    font-weight: 400;
    line-height: 2.78vw;
    color: rgba(0, 0, 0, 0.6);
    text-wrap: wrap;
    margin-top: 5.56vw;
}

.detail-card .detail-card-right-r1 {
    grid-area: right-row1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2.22vw;
}

.detail-card .detail-card-right-r1 .detail-card-right-r1-top {
    width: 5.56vw;
    height: 5.56vw;
    background-color: #E7FAFE;
    border-radius: 3.47vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.detail-card .detail-card-right-r1 .detail-card-right-r1-bottom {
    font-size: 0.83vw;
    font-weight: 500;
    color: rgb(0, 0, 0);
    letter-spacing: -0.01em;
    margin-top: 1.11vw;
    text-align: center;
}

.detail-card .detail-card-right-r2 {
    grid-area: right-row2;
    width: 100%;
    height: 41.67vw;
    background-color: #E7FAFE;
    border-radius: 2.08vw;
    padding: 2.22vw;
}

.detail-card .detail-card-right-r2 .detail-card-right-r2-r1 {
    font-size: 1.67vw;
    font-weight: 600;
    color: rgb(0, 0, 0);
    letter-spacing: -0.04em;
    margin-bottom: 1.67vw;
}


.detail-card .detail-card-right-r2 .detail-card-right-r2-nutrition {
    width: 100%;
    height: 2.64vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1.11vw;
    margin-bottom: 1.11vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.detail-card .detail-card-right-r2 .detail-card-right-r2-nutrition :first-child {
    font-size: 1.25vw;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: -0.04em;
}

.detail-card .detail-card-right-r2 .detail-card-right-r2-nutrition :last-child {
    font-size: 1.25vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    letter-spacing: -0.04em;
}

.detail-card .detail-card-right-r2 .detail-card-right-r2-r7 {
    font-size: 1.11vw;
    font-weight: 400;
    line-height: 1.94vw;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 11.60vw;
}